#profileComponent {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.profileContainer {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profileImageFrame {
  width: 14rem;
  height: 14rem;
  border: 3px solid white;
  padding-top: 1rem;
}

.codecomp-avatar-large {
  width: 12rem;
  height: 12rem;
  &:hover {
    cursor: pointer;
  }
}

.codecomp-avatar-small {
  width: 5rem;
  height: 6rem;
  padding: 1rem;
  border: 2px solid #8400ff;
  border-radius: 50%;
}

.profile-title {
  color: white;
  font-size: 1.5rem;
}

.profile-color-button-container {
  width: 5rem;
  height: 20rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border-top-left-radius:50%;
  border-bottom-left-radius:50%;
}

.color-button {
  width: 3.5rem;
  height: 3.5rem;
  outline: none;
  border-radius: 50%;
  border: 2px solid white;
  &:hover {
    cursor: pointer;
  }
}

#color-button1 {
  background: red;
  margin-left: 30px;
}

#color-button2 {
  background: blue;
  margin-left: 10px;
}

#color-button3 {
  background: green;
}

#color-button4 {
  background: orange;
  margin-left: 10px;
}

#color-button5 {
  background: purple;
  margin-left: 30px;
}



.profile-sidebar {
  position: absolute;
  right: 0;
  width: 20rem;
  border-left: 3px solid #8400ff;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friends-list-title {
  color: white;
  font-size: 1.5rem;
}


.friend-list {
  top: 10rem;
  left: 5rem;
  padding: 0;
  width: 25rem;
  height: 25rem;
  margin: auto;
  margin-top: 2rem;
  overflow: scroll;
  list-style: none;
  line-height: 2rem;
  background: #282c34;
  color: white;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 30rem;
  height: 2rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color:white;
  height: 4rem;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.codecomp-friends-list-trophy-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}


.codecomp-trophy-friends-list {
  width: 4rem;
  height: 2rem;
  flex: 1;
}

.friend-list-friend-name {
  font-size: 1.2rem;
}

.friend-list-friend-tophies-title {
  font-size: 1.25rem;
  color: black;
  flex: 1;
}

.profile-image-choices {
  width: 5rem;
  height: 20rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border-top-right-radius:50%;
  border-bottom-right-radius:50%;
}

.profile-image-choice {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid white;

}

#profile-image-choice1 {

}

#profile-image-choice2 {
  margin-left: 10px;
}

#profile-image-choice3 {
  margin-left: 20px;
}

#profile-image-choice4 {
  margin-left: 10px;
}

#profile-image-choice5 {

}
