#profileComponent {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

#profileContainer {
  margin: auto;
  margin-top: 7.5rem;
  width: 14rem;
  height: 14rem;
  border: 3px solid white;
  border-radius: 50%;
  padding-top: 1rem;
}

.codecomp-avatar-large {
  width: 10rem;
  height: 12rem;
}

.codecomp-avatar-small {
  width: 5rem;
  height: 6rem;
  padding: 1rem;
  border: 2px solid #8400ff;
  border-radius: 50%;
}

.profile-title {
  color: white;
  font-size: 1.5rem;
}

.profile-color-button-container {
  width: 35rem;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.color-button {
  width: 3.5rem;
  height: 3.5rem;
  outline: none;
  border-radius: 50%;
  border: 2px solid white;
  &:hover {
    cursor: pointer;
  }
}

#red-button {
  background: red;
}

#blue-button {
  background: blue;
}

#green-button {
  background: green;
}

#purple-button {
  background: purple;
}

#orange-button {
  background: orange;
}


.profile-sidebar {
  position: absolute;
  right: 0;
  width: 20rem;
  border-left: 3px solid #8400ff;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friends-list-title {
  color: white;
  font-size: 1.5rem;
}


.friend-list {
  top: 10rem;
  left: 5rem;
  padding: 0;
  width: 25rem;
  height: 25rem;
  margin: auto;
  margin-top: 2rem;
  overflow: scroll;
  list-style: none;
  line-height: 2rem;
  background: #282c34;
  color: white;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 30rem;
  height: 2rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-bottom: 1px solid black;
  color:white;
  height: 4rem;
  outline: none;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.codecomp-friends-list-trophy-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}


.codecomp-trophy-friends-list {
  width: 4rem;
  height: 2rem;
  flex: 1;
}

.friend-list-friend-name {
  font-size: 1.2rem;
}

.friend-list-friend-tophies-title {
  font-size: 1.25rem;
  color: black;
  flex: 1;
}

.profile-image-choices {
  width: 35rem;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.profile-image-choice {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid white;
}
