.rankChoiceRow {
  display: flex;
  justify-content: space-between;
  width: 55rem;
  height: 17.5rem;
  margin: auto;
  margin-top: 5rem;
}

.rankChoice {
  width: 15rem;
  height: 17.5rem;
  font-family: 'Raleway', sans-serif;
  background: #8400ff;
  border: 3px solid white;
  color: white;
  &:hover {
    color: #282c34;
    border: 3px solid #8400ff;
    background: white;
    cursor: pointer;
  }
}

.rankChoiceTitle {
  font-size: 1.5rem;
}

.rankChoiceDescription {
  font-size: 1.25rem;
  padding: 1rem;
}
