#SignupComponent {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  background-color: #282c34;
}


#signupForm {
  width: 40rem;
  height: 47rem;
  border: 3px solid #8400ff;
  margin: auto;
  margin-top: 3rem;
  background: white;
}
